// *********************************************************************************************************************

//                                              NAVBAR STYLING
//*********************************************************************************************************************

* {
    box-sizing: border-box;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

@media (max-width: 600px) {
.nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
}
.nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
}
.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
}
.nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
}
.nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
}
.nav > .nav-links > a {
    display: block;
    width: 100%;
}
.nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
}
.nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
    }
}

// *********************************************************************************************************************

//                                         END OF NAVBAR STYLING
//*********************************************************************************************************************
.hero {
    background: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    
    h1 {
        font-size: 3rem;
        padding: 3.125rem;
        text-align: right;
    }

    h3 {
        font-size: 2rem;
        padding: 0 5rem 5rem 0;
        text-align: right;
    }

    .download-btn {
        border: solid;
        border: white;
        background-color: rgba(0, 0, 0, 0);
        color: white;
    }

    .arrow-gif {
        width: 5%;
        height: 5%;
        margin: 5rem 0 2rem 0;
    }
}

.about-me {
    margin-top: 2rem;

    h1 {
        text-align: center;
    }

    .image-me {
        height: 25rem;
        width: 30rem;
        background: url(../images/empty.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 7rem;
    }

    .about-text {
        padding: 0 3rem 0 0;
    }
}

// A line that I am going to use over and over again
.line{

    width: 5%;
    height: 2px;
    background-color: $mypurple;
    margin-bottom: 4.375rem;
}

.my-skills {
    text-align: center;
    margin-top: 4rem;

    .skill {
        background-image: linear-gradient(to right top, #641964, #4c1d57, #381c47, #271936, #191424, #24192d, #301e36, #3e223d, #772b51, #b23352, #e34d3e, #ff7a00);
        height: 20rem;
        width: 20rem;
        border-radius: 5%;
        color: white;
        display: grid;
        place-content: center;
    }

    i {
        font-size: 10rem;
    }

    .jq-img {
        height: 14rem;
        width: 16rem;
    }
}

.my-education {

    margin-top: 4rem;

    h1 {
        text-align: center;
    }

    .ned-img {
        display: grid;
        place-content: center;
    }

    .lifechoices-img {
        display: grid;
        place-content: center;
    }

    .codespace-img {
        display: grid;
        place-content: center;
    }
}

.my-projects {
    margin-top: 4rem;
    background: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

    h1 {
        text-align: center;
    }

    .line {
        background: white;
    }

    .project {
        text-align: center;
        margin: 0 auto;
        width: 300px;
        height: auto;

        img {
            width: 300px;
            height: 200px;
            filter: grayscale(100%);
            transition: 1s ease;
            
        }

        img:hover {
            filter: grayscale(0%);
        }

    }
}